/* ==========================================================
*
*
! Vertica - LESS Theme Builder
*
*
========================================================== */
/* ==========================================================
! EDIT THE COLORS BELOW
========================================================== */
/* ==========================================================
! GENERAL 
========================================================== */
body {
  background-image: url('../../img/bg-james3.jpg');
  background-color: #031634;
}
h1,
h2 {
  color: #09afad;
}

.color1 {
   color: #09afad;
}
h3 {
  color: #031634;
}
.btn-default {
  background: #031634;
  border: #031634;
}
.btn-default:hover {
  background: #000012 !important;
}
.btn-primary {
  background: #09afad;
  border: #09afad;
}
.btn-primary:hover {
  background: #009e9c !important;
}
.btn-secondary {
  background: #da222b;
  border: #da222b;
}
.btn-secondary:hover {
  background: #c9111a !important;
}
/* ==========================================================
! Tipography
========================================================== */
p {
  color: #333333;
}
.intro-title1 {
  color: #222222;
  border-bottom: 1px solid #09afad;
}
.intro-title2 {
  color: #555555;
}
.section-title {
  color: #000523;
}
.section-item-title-1 {
  color: #031634;
}
/* ==========================================================
! PAGE LOADER 
========================================================== */
#page-loader {
  background: #000523;
  color: #09afad;
}
/* ==========================================================
! HEADER COLORS
========================================================== */
.top-color {
  background: #09afad;
}
.top-color1 {
  background: #09afad;
}
.top-color2 {
  background: #031634;
}
.top-color3 {
  background: #da222b;
}
/* ==========================================================
! SIDE MENU
========================================================== */
.side-menu-button {
  background: #333;
  opacity: 0.9;
}
.side-menu {
  background: #111;
}
.side-menu-nav li a:hover {
  color: #fff;
}
.side-menu-nav li.active a {
  color: #fff;
}
#side-menu-close {
  color: #fff;
}
/* ==========================================================
! GENERAL CONTENT
========================================================== */
/* ==========================================================
! PROFILE INTRO
========================================================== */
.profile-pic {
  border: 5px solid #09afad;
}
/* ==========================================================
! TIMELINE PROGRESS
========================================================== */
.timeline-wrap {
  background: #09afad;
}
.line-content {
  color: #333333;
}
/* ==========================================================
! SECTIONS: EDUCATION AND WORK EXPERIENCE
========================================================== */
.graduation-time,
.job {
  color: #777777;
}
/* ==========================================================
! SECTION: SKILLS
========================================================== */
.progress > .progress-completed {
  color: #888;
}
.progress-bar {
  background: #09afad;
}
.progress-bar-2 {
  background: #031634;
}
.progress-bar-3 {
  background: #da222b;
}
/* ==========================================================
! SECTION: PORTFOLIO
========================================================== */
.portfolio .line-content {
  height: 255px;
}
.portfolio-item .hover-bg {
  background: #008d8b;
}
.bx-prev,
.bx-next {
  background: #031634;
}
.bx-prev:hover,
.bx-next:hover {
  color: #fff;
  background: #000001;
}
/* ==========================================================
! SECTION: CONTACT
========================================================== */
input.form-control,
textarea.form-control {
  background: #2bd1cf;
  border: 1px solid #1ac0be;
}
.form-send {
  background: #031634;
  color: #fff;
}
.contact-subtitle-1 {
  color: #031634;
}
.modal-content .modal-title {
  color: #031634;
}
/* ==========================================================
! SECTION: THANK YOU
========================================================== */
.thank-you {
  color: #888888;
}
/* ==========================================================
! FOOTER
========================================================== */
#footer {
  background: #da222b;
  color: #fff;
}
#footer p {
  color: #fff;
}
